<!-- start custom footer snippets -->
<a href="/sitemap/">Sitemap</a>

<!-- Google tag (gtag.js) 插入 google 统计-->
{% if site.analytics.google.tracking_id %}
  <script async src="https://www.googletagmanager.com/gtag/js?id='{{ site.analytics.google.tracking_id }}'"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', '{{ site.analytics.google.tracking_id }}'); </script>
{% endif %}
<!-- end custom footer snippets -->
